# Eclipse-related files and directories
.settings/
.classpath
.project

# Maven build directories
/target/
 
# IDE-specific directories
/.vscode/
 
# Compiled classes
*.class
 
# Maven settings file
maven-settings.xml
